<div class="aside">
    <h2>What is Overwatch?</h2>

    <p>Overwatch is a team-based multiplayer first-person shooter video game developed and published by Blizzard Entertainment, which released on May 24, 2016 for PlayStation 4, Xbox One, and Windows. Described as a "hero shooter", Overwatch assigns players
        into two teams of six, with each player selecting from a roster of nearly 30 characters, known as "heroes", each with a unique style of play whose roles are divided into three general categories that fit their role.
    </p>

    <p>Players on a team work together to secure and defend control points on a map or escort a payload across the map in a limited amount of time.</p>
    
    <p>Players gain cosmetic rewards that do not affect gameplay, such as character skins and victory poses, as they play the game. The game was initially launched with casual play, with a competitive ranked mode, various 'arcade' game modes, and a player-customizable
        server browser subsequently included following its release. Additionally, Blizzard has added new characters, maps, and game modes post-release, all free of charge, with the only additional cost to players being optional loot boxes to earn cosmetic
        items.
    </p>

    <p>
        Overwatch is Blizzard's fourth major franchise and came about following the 2014 cancellation of the ambitious massively multiplayer online role-playing game Titan.
    </p>
    
    <p>A portion of the Titan team came up with the concept of Overwatch, based on the success of team-based first-person shooters like Team Fortress 2 and the growing popularity of multiplayer online battle arenas, creating a hero-based shooter that emphasized
        teamwork. Some elements of Overwatch borrow assets and concepts from the canceled Titan project.
    </p>
    
    <p>After establishing the narrative of an optimistic near-future Earth setting after a global crisis, the developers aimed to create a diverse cast of heroes that spanned genders and ethnicities as part of this setting.
    </p>
    
    <p>Significant time is spent adjusting the balance of the characters, making sure that new players would still be able to have fun while skilled players would present each other with a challenge. 
    </p>
</div>