<div class="container px-4" id="body-app">  
  <p id="notice"><%= notice %></p>

  <div class="container">
    <h1>Heros</h1>
  </div>

  <div class="container">
    <body>
      <%= render '/heros/table' %>
    </body>
  </div>

  <br>

  <div class="container">
    <%= link_to 'New Hero', new_hero_path %>
  </div>
</div>
