/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 
  body {
      background-image: radial-gradient(blue, #ffa500); 
      margin: auto;
  }
 
  .important {
      color: grey;
      width: auto;
  }
  
.inverse-navbar   {
  background-color: rgb(138, 131, 72);
  color:rgb(209, 209, 209);
  border: 1px solid #333;
}

.inverse-navbar a {
  display: inline;
  color: white;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  padding: 20px;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
}

.inverse-navbar a:hover {
  background-color: rgb(138, 131, 72);
  color:#222;
  border: 0px solid #333;
}
 
.header {
  border-bottom: 1px solid;
  top: 0%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  min-height: auto;
  text-align: center;

 }

 .footer {
     position: absolute;
     width: 100%;
     height: 60px;
     bottom:0;
     background-color: #f5f5f5;
 }
 
 input[type=text] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
   }
 
   input[type=text]:focus {
     border: 3px solid #555;
   }
 
   input[type=button], input[type=submit], input[type=reset] {
     background-color: #18741b;
     border: none;
     color: rgb(252, 249, 249);
     padding: 16px 32px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
   }
.aside {
  grid-area: aside;
  border-right: 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #405275;
  color: white;
  text-align: justified;
}
.aside p {
  margin: 20px;
  font-size: 24px;
  font-family: 'Laila', serif;
  line-height: 1.5;
}
.aside h2 {
  font-family: 'Bungee Inline', cursive;
  font-size: 28px;
  text-align: center;
  font-weight: 800;
  color: white;
}
.content {
  grid-area: content;
  border: 1px solid;
  background-color: #D3D3D3;
}
.content h2 {
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  font-size: 40px;
}

.footer {
  grid-area: footer;
  border: 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 50px;
  background-color: 	#218ffe;
  color: white;
}

img {
  width: 100%;
  
}
.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: block;
}
.form h3 {
  text-align: center;
  font-size: 30px;
  font-family: 'Bungee Inline', cursive;
}
.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-top: 5px;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Laila', serif;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.heroes-body {
  border: 1px solid;
  background-color:#D3D3D3;
}
.heroes-body p {
  
}
.heroes-body h2 {
  font-family: 'Cinzel Decorative', cursive;
}
.name {
  font-family:'Courier New', Courier, monospace;
}