<nav class="navbar navbar-inverse">
  <div class="container-fluid header">
    <div class="navbar-header">
      <%= link_to 'Overwatch Heroes', 'heros#index', :class => 'navbar-brand' %>
    </div>
  </div>
</nav> 