<nav class="navbar inverse-navbar" role="navigation">
  <div class="container-fluid header">
    <div class="navbar-header navbar-right">
      <%= link_to 'Home', '/heros#index', :class => 'navbar-brand' %>
      <%= link_to 'Contact Us', '/heros#index', :class => 'navbar-brand' %>
    </div>
  </div>
</nav> 